{% extends 'layout.html' %}

{% block content %}
    <section class="header" id="aboutheader">
        <h1 class="bannertext">Jonathan Brierley</h1>
        <p class="bannertext">Freelance Musician, Learning to Code</p>
        <!--I would suggest choosing a different picture here.-->
        <!--Like maybe a hobby photo-->
        <img src="/static/img/me3.jpg" 
        alt="A photo of myself, playing trombone">
    </section>
    <section id="about-page">
        <div id="triangle7"></div>
        <div id="triangle8"></div>
        <h2>About Me</h2>
        <p>
            For the last few years I've been working as a <span>freelance musician</span>,
            for two of the oldest cruise companies based in the UK, 
            Cunard and P&O. As a trombonist, I was a member of the ballroom and latin dance band
            for two years, until transitioning to the theatre. I now work as a
            member of the Royal Court theatre band on all three of Cunard's ships
            including the last remaining ocean liner in the world - Queen Mary 2.
        </p>
        <p>
            Growing up, I learned brass instruments from an early age, and went on
            to study at the <span>Royal Northern College of Music</span> in Manchester, UK.
            Although health reasons forced me to eventually drop out, I still
            thoroughly enjoyed my time at the college and learned a huge amount from
            some of the most brilliant musicians in the world.
        </p>
        <p>
            A few years later, I ended up studying a course at Manchester's
            <span>School of Sound Recording</span> (now Spirit Studios). I learned a huge amount
            about engineering sound in recording studios and for television and film.
            One special moment for me, was assisting on a demo for the Pigeon Detectives.
        </p>
        <p>
            I've used many of the skills I've learned to upload music, sound effects 
            and video to <span>HitRECord</span> - an online production company ran 
            by <span>Joseph Gordon Levitt</span>, and have featured in some amazing work including
            an <a href="https://www.youtube.com/watch?v=b4lvnDbPXiI">LG television advert</a>, 
            <a href="https://www.youtube.com/playlist?list=PLB0rl-bjxkI6gwIOA6paIZlOjp0f42zOq">an 
            Emmy winning Youtube original series</a> and also a <a href="https://www.youtube.com/watch?v=c1F6x53L4u8">
            Netflix promotional video.</a>
        </p>
        <p>
            In my spare time, I'm an amateur photographer, I love watching football 
            <span>#wafc</span>, gaming and television/film.
            You can see some of my photography by visiting the instagram link at the
            bottom of the page.
        </p>
        <!--<a href="#"><i class="far fa-file"></i>Resume</a>-->
    </section>
{% endblock %}